@import url("https://cdn.syncfusion.com/ej2/material.css");

.nav_bar_wrapper a{
  margin-left:30px;
  color:white;
  text-decoration: none;
  font-size: 17px;
  
}
.nav_bar_wrapper a:hover{
  padding: 5px;
  border-radius: 20px;
  color:#343a40;
  font-size: 17px;
  text-decoration: none;
  background-color: white;
}
.one{
  width: 50%;
  float: left;
  padding: 15px;
  border-right: 1px solid rgb(73, 71, 71);
}
.two{
  width: 50%;
  float: left;
  padding: 15px;
  
}